<div class="avatar">
    {{#if img}}
        <img src="{{img}}" data-role="img">
    {{#else}}
        <img src="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png" data-role="img">
    {{/else}}
    {{/if}}
</div>
<div class="username">
    <p><b>{{username}}</b></p>
</div>
